# Node modules directory
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# Environment files
.env

# Build and output directories
dist/
build/
coverage/

# Temporary files
*.swp
*.swo

# Yarn lock file
yarn.lock

# npm lock file
package-lock.json

# .vscode settings folder (optional)
.vscode/
